:root {
    --primaryColor: #c29780;
    --secondaryColor: #eadfda;
    --latoFont: 'Lato', sans-serif;
}

* {
    font-family: var(--latoFont);
}

.top-header {
    background-color: var(--primaryColor);
    height: 38px;
    text-align: center;
}

.top-header h4 {
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
    padding-top: 10px;
}

.content-header {

}

.left-header {
    background-image: url(../images/photo-v1-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    float: left;
    height: 675px;
}

.right-header {
    width: 50%;
    float: right;
}

.menu-header {
    color: var(--primaryColor);
    text-align: center;
    font-size: 12px;
    width: 89%;
    padding-top: 27px;
}

.col-space-0 {
    padding: 0;
    margin: 0;
}

.right-header-section {
    text-align: center;
    margin-top: 71px;
}

.title-product-header {
    margin-top: 43px;
}

.title-product-header h1 {
    font-family: emoji;
    letter-spacing: 6px;
    font-size: 30px;
}

.title-product-header h4 {
    letter-spacing: 1px;
    font-size: 18px;
}

.title-product-header img {
    width: 18%;
}

.title-product-header p {
    color: var(--primaryColor);
    font-size: 16px;
    margin-top: -12px;
}

.header-product-paragraph {
    margin-top: 25px;
    margin-bottom: 22px;
}

.header-product-paragraph h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}

.header-product-paragraph p {
    width: 74%;
    margin: 0px 14%;
}

.quantity-input {
    border-radius: 42%;
    width: 11%;
    height: 46px;
    border: 1px solid var(--primaryColor);
    text-align: center;
    font-family: var(--latoFont);
    font-size: 23px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.quantity-input:focus{
    outline: none !important;
    border:1px solid var(--primaryColor);
    box-shadow: 0 0 10px var(--primaryColor);
}

.header-product-form p {
    font-size: 32px;
    font-family: initial;
}

.header-product-form button {
    border: 0;
    background-color: var(--primaryColor);
    color: white;
    width: 68%;
    height: 56px;
}

.header-advantages img {
    padding-bottom: 2px;
}

.header-advantages {
    color: var(--primaryColor);
    padding-top: 30px;
}

.description {
    font-size: 12px;
    letter-spacing: 1px;
}

