:root {
    --primaryColor: #c29780;
    --secondaryColor: #eadfda;
    --boldPrimaryColor: #7f462d;
    --latoFont: 'Lato', sans-serif;
}

* {
    font-family: var(--latoFont);
}

.hide-web {
    display: block;
}

.hide-mobile {
    display: none;
}

.header {
    height: 712px;
}

.top-header {
    background-color: var(--primaryColor);
    height: 38px;
    text-align: center;
}

.top-header h4 {
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
    padding-top: 10px;
}

.content-header {

}

.logo-header img {
    width: 20%;
}

.left-header {
    background-image: url(../images/photo-v1-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    float: left;
    height: 675px;
    padding-top: 50px;
    padding-left: 50px;
}

.right-header {
    width: 50%;
    float: right;
    height: 675px;
    padding-right: 12px;
}

.menu-header {
    color: var(--primaryColor);
    text-align: center;
    font-size: 12px;
    padding-top: 27px;
}

.col-space-0 {
    padding: 0;
    margin: 0;
}

.right-header-section {
    text-align: center;
    margin-top: 71px;
}

.title-product-header {
    margin-top: 43px;
}

.title-product-header h1 {
    font-family: emoji;
    letter-spacing: 6px;
    font-size: 30px;
}

.title-product-header h4 {
    letter-spacing: 1px;
    font-size: 18px;
}

.title-product-header img {
    width: 18%;
}

.title-product-header p {
    color: var(--primaryColor);
    font-size: 16px;
    margin-top: -12px;
}

.header-product-paragraph {
    margin-top: 25px;
    margin-bottom: 22px;
}

.header-product-paragraph h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}

.header-product-paragraph p {
    width: 74%;
    margin: 0px 14%;
}

.quantity-input {
    border-radius: 42%;
    width: 11%;
    height: 46px;
    border: 1px solid var(--primaryColor);
    text-align: center;
    font-family: var(--latoFont);
    font-size: 23px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.quantity-input:focus{
    outline: none !important;
    border:1px solid var(--primaryColor);
    box-shadow: 0 0 10px var(--primaryColor);
}

.header-product-form p {
    font-size: 32px;
    font-family: initial;
}

.header-product-form button {
    border: 0;
    background-color: var(--primaryColor);
    color: white;
    width: 68%;
    height: 56px;
}

.header-advantages img {
    padding-bottom: 2px;
}

.header-advantages {
    color: var(--primaryColor);
    padding-top: 30px;
}

.description {
    font-size: 12px;
    letter-spacing: 1px;
}

.advantages-section {
    background-color: var(--secondaryColor);
    padding-top: 3%;
}

.advantages-row {
    text-align: center;
}

.advantages-row img {
    width: 20%;
}

.advantages-row p {
    color: var(--boldPrimaryColor);
    margin-top: 5%;
    font-size: 13px;
}

.flattery-section {
    height: 550px;
}

.image-section-one {
    float: right;
    width: 50%;
    height: inherit;
}

.image-section-one img {
    height: inherit;
    width: 100%;
}

.text-section-one {
    width: 50%;
    height: inherit;
    text-align: center;
    padding-top: 170px;
}

.text-section-one h4 {
    font-family: ui-monospace;
    font-style: italic;
    margin-top: -9px;
    letter-spacing: 2px;
}

.text-section-one h1 {
    font-weight: 600;
    letter-spacing: 1px;
}

.text-section-one p {
    width: 66%;
    margin: 0 auto;
}

.flattery-section-two {
    height: 550px;
}

.image-section-two {
    float: left;
    width: 50%;
    height: inherit;
}

.image-section-two img {
    height: inherit;
    width: 100%;
}

.text-section-two {
    width: 50%;
    height: inherit;
    text-align: center;
    padding-top: 170px;
    float: right;
}

.text-section-two p {
    width: 70%;
    margin: 0 auto;
}

.text-section-two img {
    width: 25%;
    margin-bottom: 5%;
}

.guide-section {
    width: 100%;
    height: 502px;
    margin-top: 30px;
}

.guide-section img{
    width: inherit;
    height: inherit;
}

.questions-section {
    background-color: var(--secondaryColor);
    text-align: center;
}

.questions-section > h1:first-of-type {
    font-size: 27px;
    letter-spacing: 2px;
    padding-top: 42px;
    font-weight: 600;
}

.questions-block {
    margin-top: 50px;
    padding-bottom: 10px;
}

.question-block {
    width: 70%;
    margin: 16px auto;
}

.question-collapsed {
    background-color: var(--primaryColor);
    height: 50px;
}

.question-collapsed h1 {
    color: white;
    font-size: 21px;
    letter-spacing: 3px;
    padding-top: 12px;
}

.answer {
    padding-top: 14px;
    background-color: antiquewhite;
    padding-bottom: 20px;
}

.answer p {
    width: 90%;
    margin: 0px auto;
    font-size: 16px;
}

.question-openned {
    background-color: bisque;
    height: 50px;
}

.question-openned h1 {
    color: var(--primaryColor);
    font-size: 21px;
    letter-spacing: 3px;
    padding-top: 12px;
}

.question-openned .question-openned-footer {
    height: 4px;
    background-color: var(--boldPrimaryColor);
}

#answer-one, #answer-two, #answer-three {
    display: none;
}

.related-products-section-title {
    font-size: 27px;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 40px;
}

.product-container {
    text-align: center;
}

.stars-container {
    background-color: #ebffae;
    width: inherit;
    height: 55px;
}

.stars-container img {
    width: 44%;
    padding-top: 18px;
}

.image-container img {
    width: 100%;
}

.title-product-container {
    background-color: #ebffae;
    width: inherit;
    height: 100px;
    padding-top: 18px;
}

.title-product-container h1 {
    font-size: 31px;
    font-weight: 400;
    letter-spacing: 2px;
}

.title-product-container h4 {
    color: #008000bf;
    font-size: 16px;
}

.feedbacks-section {
    padding-top: 50px;
}

.feedbacks-section-header{
    color: var(--primaryColor);
    border-bottom: 5px solid var(--primaryColor);
}

.feedbacks-section-header h1 {
    font-weight: 300;
}

.feedbacks-block {
    padding-top: 25px;
}

.feedback {
    padding-top: 15px;
}

.feedback h5 {
    color: var(--primaryColor);
    letter-spacing: 1px;
}

.feedback-header {
    background-color: var(--primaryColor);
    color: white;
    font-size: 26px;
    padding-top: 6px;
}

.feedback-header img {
    width: 50%;
    float: right;
}

.feedback-content {
    padding-top: 5px;
    border-bottom: 5px solid var(--boldPrimaryColor);
    
}

.feedback-content span {
    float: right;
    color: var(--primaryColor);
    font-size: 20px;
}

.feedback-content p {
    font-size: 18px;
}

.certificates-section {
    background-color: var(--secondaryColor);
    text-align: center;
    padding-top: 24px;
    margin-top: 35px;
}

.certificates-section h1 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 5px;
}

.logos-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logos-container img {
    width: 50%;
}

.col-one-background {
    background-color: #934a4a85;
    padding: 13px 70px;
}

.col-two-background {
    background-color: var(--primaryColor);
    text-align: center;
    padding-top: 30px;
}

.col-three-background {
    background-color: black;
    text-align: center;
    padding-top: 30px;
}

.footer-header {
    padding-right: 12px;
}

.col-one-background h1 {
    font-size: 24px;
    margin-bottom: 0px;
}

.col-one-background p {
    letter-spacing: 1px;
}

.col-two-background h1 {
    font-size: 24px;
    color: white;
    font-weight: 300;
}

.col-three-background h1 {
    font-size: 24px;
    color: white;
    font-weight: 300;
}

.footer-content {
    padding-top: 44px;
    padding-bottom: 44px;
}

.footer-content h5 {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
}

.footer-logo {
    width: 12%;
    float: right;
    margin-top: -81px;
}

.footer-section {
    background-color: var(--secondaryColor);
}

.cards-container img {
    width: 80%;
}

.cards-container {
    width: 50%;
}

.rights-container {
    text-align: center;
    padding-top: 20px;
}

.rights-container span {
    font-weight: 600;
    letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
    
    .hide-web {
        display: none;
    }

    .hide-mobile {
        display: block;
    }

    .top-header h4 {
        font-size: 14px;
    }

    .top-mobile-header {
        background-image: url(../images/photo-v1-01.png);
        height: 436px;
        background-size: contain;
        background-repeat: round;
    }

    .logo-mobile {
        text-align: right;
        padding-top: 20px;
    }

    .logo-mobile img {
        width: 45%;
    }

    .icons-nav {
        padding-top: 10px;
        text-align: right;
    }

    .header-mobile-bottom {
        margin-top: 290px;
        text-align: center;
    }

    .header-mobile-bottom img {
        width: 50%;
    }

    .right-header-section {
        margin-top: -25px;
    }

    .header-product-paragraph h4 {
        font-size: 10px;
    }

    .header-product-paragraph p {
        font-size: 10px;
        width: 80%;
        margin: 0px auto;  
    }

    .header-product-form button {
        width: 90%;
        height: 45px;
    }

    .description {
        font-size: 9px;
    }

    .header-advantages {
        padding-bottom: 30px;
    }

    .advantages-row {
        margin: 30px -4px;
    }

    .advantages-row img {
        width: 19%;
    }

    .advantages-row p {
        font-size: 10px;
    }

    .mobile-image-section-one {
        height: 350px;
        width: 100%;
    }

    .mobile-image-section-one img {
        height: inherit;
        width: inherit;
    }

    .mobile-text-section-one {
        padding-top: 35px;
        text-align: center;
    }

    .mobile-text-section-one h1 {
        font-weight: 600;
        letter-spacing: 1px;
    }

    .mobile-text-section-one h4 {
        font-family: ui-monospace;
        font-style: italic;
        margin-top: -9px;
        letter-spacing: 2px;
    }

    .mobile-text-section-one p {
        width: 100%;
        font-size: 14px;
        margin: 0 auto;
    }

    .flattery-mobile-section-two {
        padding-top: 30px;
    }

    .mobile-image-section-two {
        height: 375px;
    }

    .mobile-image-section-two img {
        height: inherit;
        width: 100%;
    }

    .mobile-text-section-two {
        text-align: center;
        padding: 37px 0px;
    }

    .mobile-text-section-two img {
        width: 40%;
    }

    .mobile-text-section-two p {
        font-size: 12px;
        padding-top: 37px;
    }

    .guide-section img {
        content: url(../images/how-mobile.png);
    }

    .questions-section > h1:first-of-type {
        font-size: 19px;
    }

    .question-block {
        width: 90%;
    }

    .question-collapsed h1, .question-openned h1 {
        font-size: 12px;
    }

    .related-products-section-title {
        font-size: 20px;
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }

    .feedback h5 {
        font-size: 15px;
    }

    .feedback-header {
        font-size: 18px;
    }

    .feedback-header img {
        width: 100%;
        padding-top: 7px;
    }

    .certificates-section h1 {
        font-size: 20px;
    }

    .mobile-certificates-logos img {
        width: 50%;
    }

    .mobile-certificates-logos .row:last-child {
        padding-top: 50px;
    }

    .col-one-background {
        text-align: center;
        padding: 13px 11px;
    }

    .col-one-background h1 {
        font-size: 14px;
    }

    .col-one-background p {
        font-size: 10px;
        margin-bottom: 0px;
    }

    .col-two-background {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .col-two-background h1 {
        font-size: 20px
    }

    .col-three-background {
        padding-top: 10px;
        border: 35px solid white;
    }

    .cards-container {
        width: 100%;
    }

    .cards-container img {
        width: 100%;
    }

    .mobile-footer-logo {
        text-align: center;
        padding-top: 30px;
    }

    .mobile-footer-logo img {
        width: 40%;
    }

    .rights-container span {
        font-size: 11px;
        font-weight: 400;
    }

    .product-container {
        display: inline-block;
        margin-right: 5px;
    }

}